<div id="header">
	<div id="widgetBar">
		{{page "lang"}}
		{{with $numItems := service "ecommerse" "cart" "count" }}
			<div class="headerWidget">
				{{if eq $numItems "0"}}{{else}}
					<a href="checkout" class="bubble">proceed to checkout ➟</a>
				{{end}}
			</div>
			<div class="headerWidget" id="viewCart">
				<img src="/img/cart.gif" alt="shopping cart icon" id="cart">
				<span class="horizontalMargin">{{$numItems}} {{body "items"}}</span>
				{{if eq $numItems "0"}}{{else}}
					<a class="bubble" href="viewCart">
						{{body "view_cart"}}
					</a>
				{{end}}
			</div>
		{{end}}
	</div>
	<a href="/AffableBean/">
		<img src="/img/logo.png" id="logo" alt="Affable Bean logo">
	</a>
	<img src="/img/logoText.png" id="logoText" alt="the affable bean">
</div>