<div class="headerWidget">
	{{with $lang := session "language" }}
		{{if eq $lang "en"}}
			english
		{{else}}
			<span class="bubble">
				<a href="chooseLanguage?language=en">english</a>
			</span>
		{{end}}
		{{if eq $lang "cs"}}
			česky
		{{else}}
			<span class="bubble">
				<a href="chooseLanguage?language=cs">česky</a>
			</span>
		{{end}}
		{{if eq $lang "fr"}}
			français
		{{else}}
			<span class="bubble">
				<a href="chooseLanguage?language=fr">français</a>
			</span>
		{{end}}
		{{if eq $lang "sp"}}
			Español
		{{else}}
			<span class="bubble">
				<a href="chooseLanguage?language=sp">Español</a>
			</span>
		{{end}}
	{{end}}
</div>