<!DOCTYPE html>
<html>
	<head>
		{{page "head"}}	
		<script>
			$(document).ready( function(){
				{{range index .Site.Script "script"}}
					{{.}}
				{{end}}
			});
		</script>
    </head>

    <body>
        <div id="demoNote" class="noteBubble">
            <p>This is the demo application used with the
            <a href="http://netbeans.org/kb/docs/javaee/ecommerce/intro.html">NetBeans E-commerce Tutorial</a>.</p>
            <p class="smallText">The interface was tested on Firefox and Safari 5 browsers, Opera 11 and Chrome 15.</p>
        </div>
        <div id="adminNote" class="noteBubble">
            <p>To access the application's admin console, <a href="/AffableBean/admin">click here</a>.</p>
            <p>Enter <strong>nbuser</strong> / <strong>secret</strong> for username / password.</p>
        </div>
        <div id="main">
            {{page "header"}}
			<div id="indexLeftColumn">
			    <div id="welcomeText">
			        <p style="font-size: larger">{{text "WelcomeText"}}</p>
			        <p>{{text "Greeting"}}</p>
			    </div>
			</div>
			<div id="indexRightColumn">
				{{page "category" "index>>0"}}
				{{page "category" "index>>1"}}
				{{page "category" "index>>2"}}
				{{page "category" "index>>3"}}
			</div>
			{{page "footer"}}
		</div>
    </body>
</html>