<!DOCTYPE html>
<html>
	<head>
		{{page "head"}}	
		<script>
			$(document).ready( function(){
				{{range index .Site.Script "script"}}
					{{.}}
				{{end}}
			});
		</script>
    </head>

    <body>
        <div id="demoNote" class="noteBubble">
            <p>This is the demo application used with the
            <a href="http://netbeans.org/kb/docs/javaee/ecommerce/intro.html">NetBeans E-commerce Tutorial</a>.</p>
            <p class="smallText">The interface was tested on Firefox and Safari 5 browsers, Opera 11 and Chrome 15.</p>
        </div>
        <div id="adminNote" class="noteBubble">
            <p>To access the application's admin console, <a href="/AffableBean/admin">click here</a>.</p>
            <p>Enter <strong>nbuser</strong> / <strong>secret</strong> for username / password.</p>
        </div>
        <div id="main">
            {{page "header"}}
			<div id="categoryLeftColumn">
				{{$lang := session "language" }}
				{{if eq $lang "en"}}
					{{range htmls "category:en"}}
						{{.}}
					{{end}}
				{{end}}
				{{if eq $lang "cs"}}
					{{range htmls "category:cs"}}
						{{.}}
					{{end}}
				{{end}}
				{{if eq $lang "fr"}}
					{{range htmls "category:fr"}}
						{{.}}
					{{end}}
				{{end}}
				{{if eq $lang "sp"}}
					{{range htmls "category:sp"}}
						{{.}}
					{{end}}
				{{end}}
			</div>
			<div id="categoryRightColumn">
				{{with $pc := param "category"}}
					{{with $category := text "Category" $pc}}
						<p id="categoryTitle">{{$category}}</p>
						<table id="productTable">
							{{range list $pc}}
								{{service "ecommerse" "product" "products" $category . }}
								{{with data $category}}
									<tr class="lightBlue">
				                		<td>
				                    		<img src='/img/products/{{.ImageName }}' alt='{{.Description }}'>
										</td>
										<td>{{.Description}}
					                    	<br>
						                    <span class="smallText">{{.Name }}</span>
					                	</td>
										<td>&euro; {{ .Cost }}</td>
										<td>
											<form action="#" method="POST">
				                        		<input type="hidden" name="product" value="{{.Name}}">
				                        		<input type="hidden" name="postProcessingHandler" value="addToCart">
				                        		<input type="submit" name="submit" value='{{text "addToCart"}}'>
				                    		</form>
				                		</td>
				            		</tr>
								{{end}}
							{{end}}
						</table>
					{{end}}
				{{end}}
			</div>
			{{page "footer"}}
		</div>
    </body>
</html>